<p>{{errors}}</p>
<form action="/link/{{auth}}/tree" method="post">
    <div>
        <input type="text" id="textco" name="textco" placeholder="#kkkkkk for Text Colour">
        <input type="text" id="bgco" name="bgco" placeholder="#kkkkkk for Background Colour">\
        <input type="text" id="bco" name="bco" placeholder="#kkkkkk for Button Colour">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <br>
    
</form>